@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Task 4 - Using View Model Data in View.-->>
<h2>@Model.Movie.Name</h2>