
@{
    ViewBag.Title = "New";
}

<!--Task 13 - Create View-->
<h2>New Rental Form</h2>

<form>
    <div class="form-group">
        <label>Customer</label>
        <input id="customer" type="text" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>Movie</label>
        <input id="movie" type="text" value="" class="form-control" />
    </div>
    <!--Task 19 - Add Selected Movies to List-->
    <ul id="movies" class="list-group"></ul>

    <button class="btn btn-primary">Submit</button>
</form>
<!--Task 17 - Add JavaScript for TypeAhead Functionality-->

@section scripts
{
    <script>
        $(document).ready(function() {
            var vm =
            {
                movieIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '../api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select",
                function(e, customer) {
                    vm.customerId = customer.Id;

                });

            //Task 18 - Excercise - AutoComplete for Movies
            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '../api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'movies',
                    display: 'name',
                    source: movies
                    //Task 20 - Adding Item to List
                }).on("typeahead:select", function (e, movie) {
                console.log(movie.name);
                $("#movies").append("<li>" + movie.name + "</li>");
            });
        })

    </script>
}