@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Customers";
}

<h2>Customer List:</h2>
@if (Model.customers.Count >= 1)
{
    <table class="table table-bordered">
        <tr>
            <th>Customer Name</th>
        </tr>
        @foreach (var customer in Model.customers)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
            </tr>
        }

    </table>
}
else
{
    <h2>Something went wrong, Customer Database is Empty!</h2>
}

