@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li><h2>Name: @Model.Name</h2></li>
@if (Model.BirthDate.HasValue)
{
    <li><h2>BirthDate: @string.Format("{0:M/d/yyyy}", Model.BirthDate)</h2></li>
}
</ul>
