@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <!--Section 7 - Calling API using JQuery-->
    <!--Task 1 - Rework HTML, Add Delete Button & ID to use for Selection/Deletion-->
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!--Task 2 - Create OnClick Event-->
@section scripts
{
    <script>
        $(document).ready(function () {
            //Step 1 - OnClick Event
            $("#customers .js-delete").on("click", function () {
                var button = $(this); //Set Clicked Button

                //Step 2 - Confirmation PopUp
                if (confirm("Are you sure you want to delete this customer?")) {
                    //Step 3 - API Call
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"), //Button ID = URI
                        method: "DELETE",
                        success: function () {
                            //Step 4 - Remove Entire Row w Button ID.
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}
